body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

footer {
  bottom: 0;
  color: #707070;
  height: 1rem;
  right: 0;
  left: 0;
  position: absolute;
  font-size: medium;
  width: 100%;
}

#homePageCard {
  margin-bottom: 1in;
}

#rocket-logo {
  animation: rocket-logo-spin infinite 20s linear;
}

@keyframes rocket-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
